body {background-image: url("../images/bg-overlay.png");}
.container{max-width:960px;}

#header {margin-bottom:10px;}
#header .top-bar{background-color: #24408f;height: 7px;}
#header .nav-pills > li > a {border-radius:0;}

#header ul#main-navigation {margin:0;height:30px;padding:0 10px}
#header ul#main-navigation li {list-style:none;float:left;padding:0 10px;height:100%;}
#header ul#main-navigation li.activelink {background:#24408f;color:#fff;}
#header ul#main-navigation li.activelink a{color:#fff;}

#header .searchbox{height: 30px;position: absolute;right: 0;top: 2px;width: 132px;}
#header .searchbox input{border-color: #efefef;border-radius: 2px 0 0 2px;border-style: solid;border-width: 1px 0 1px 1px;float: left;padding: 5px;width: 100px;}
#header .searchbox label{background:white url("../images/search-icon.png") no-repeat scroll 10px 12px;background-repeat:no-repeat;border-color: #efefef;border-radius: 2px 0 0 2px;border-style: solid;border-width: 1px 1px 1px 0px;float: left;padding: 5px;width: 32px;height:32px;}

.icon-news {background-image: url("../images/logo.png");background-size: contain;background-repeat:no-repeat;height: 100%;width: 100%;}
.carousel-caption h3 {background-color:#6E9037;padding:10px;}


.blog-post {clear:both;}
.blog-post h2 {margin:0;font-size:20px;}
.blog-post .blog-post-featured-img{float:left;margin:0 10px 10px 0;}
.blog-post .blog-post-featured-img img{width:100%;}
.blog-post .blog-post-details{clear:both;border-top:1px solid #efefef;border-bottom:1px solid #efefef;margin:0 0 10px 0;float:left;width:100%;padding:5px;}
.blog-post .blog-post-details .blog-post-details-item-left{float:left;}
.blog-post .blog-post-details .blog-post-details-item-right{float:right;}

#footer {background:#24408f;width:100%;height:100px;position:fixed;bottom:0;left:0;color:#fff}

h1 {font-size:20px;color:red;}